<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.medlix.medlix_data_vault">

    <queries>
        <provider android:authorities="org.medlix.example1.medlix_data_vault.provider"
            android:exported="false" />
        <provider android:authorities="org.medlix.example2.medlix_data_vault.provider"
            android:exported="false" />
    </queries>

    <!-- Using permission to behave like a requesting app -->
    <uses-permission android:name="org.medlix.SharedItems.medlix_data_vault.permissions.DATA_VAULT_PROVIDER" />

    <!-- Declaring permission to behave like a provider app-->
    <permission
        android:name="org.medlix.SharedItems.medlix_data_vault.permissions.DATA_VAULT_PROVIDER"
        android:label="Full access to MedLixDataVault data"
        android:protectionLevel="signature" />

    <application>
        <provider
            android:name=".MedlixDataVaultContentProvider"
            android:authorities="${applicationId}.medlix_data_vault.provider"
            android:enabled="true"
            android:exported="true"
            android:permission="org.medlix.SharedItems.medlix_data_vault.permissions.DATA_VAULT_PROVIDER" />
    </application>

</manifest>